streamlit
folium
streamlit-folium
numpy
pandas
requests
rasterio
scipy
shapely
scikit-image
pillow
matplotlib

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchvision==0.22.1+cpu
